# 0. Libraries

In [20]:
import pandas as pd
import os
import glob
import re

# 1. Loading the data

In [21]:
# Define function to extract state code from filename
def extract_state_code(filename):
    # Extract the 2-letter state code at the end of the filename
    match = re.search(r'_([A-Z]{2})\.csv$', filename)
    if match:
        return match.group(1)
    return None

In [22]:
# Example of a correctly formatted .csv file of Google Trends data
sample = pd.read_csv('../google_trends_data/issue_healthcare/health/health_AK.csv', skiprows=1)
print("Sample of a correctly formatted .csv file of Google Trends data:")
display(sample.head())

# Example of a badly formatted .csv file of Google Trends data
sample2 = pd.read_csv('../google_trends_data/issue_guns_and_criminal_justice/criminal justice/criminal justice_PA.csv', skiprows=1)
print("Sample of a badly formatted .csv file of Google Trends data:")
display(sample2.head())

Sample of a correctly formatted .csv file of Google Trends data:

       Mes  health: (Alaska)
0  2015-01                71
1  2015-02                77
2  2015-03                75
3  2015-04                76
4  2015-05                59

Sample of a badly formatted .csv file of Google Trends data:

     Month  criminal justice: (Pennsylvania)
0  2015-01                                80
1  2015-02                                81
2  2015-03                                76
3  2015-04                                88
4  2015-05                                66

In [37]:
# Initialize empty list to store all data
all_data = []

# Root directory containing all issue folders
root_dir = '../google_trends_data/'  # Update this to the appropriate path if needed

# Get all issue folders (they must start with 'issue_')
issue_folders = [f for f in os.listdir(root_dir) if f.startswith('issue_') and os.path.isdir(os.path.join(root_dir, f))]

# Traverse through each issue folder and its subfolders
for issue_folder in issue_folders:
    issue_path = os.path.join(root_dir, issue_folder)
    
    # Get term folders (subfolders) within each issue folder
    term_folders = [f for f in os.listdir(issue_path) if os.path.isdir(os.path.join(issue_path, f))]
    
    # Traverse through each term folder (e.g., 'health' in the 'issue_healthcare' folder)
    for term_folder in term_folders:
        term_path = os.path.join(issue_path, term_folder)
        term_name = term_folder  # The folder name represents the term
        
        # Get all CSV files within the term folder
        csv_files = glob.glob(os.path.join(term_path, '*.csv'))  # This will create a list of all CSV files in the term folder
        print(f"Processing {len(csv_files)} CSV files in {term_path}...")

        for csv_file in csv_files:
            # Extract state code from filename
            state_code = extract_state_code(csv_file)
            if state_code:  # If state code is found, try to read the CSV
                try:
                    # Read the CSV file
                    df = pd.read_csv(csv_file, skiprows=1)  # Skip the first row (it contains unwanted info)
                    
                    # Each CSV has two columns: month and value (the index)
                    # Rename columns for clarity
                    if len(df.columns) >= 2:
                        df.columns = ['month', 'value'] + list(df.columns[2:])

                        # If the month column is not in the correct format, skip this file
                        # and print a warning
                        if not pd.to_datetime(df['month'], format='%Y-%m', errors='coerce').notna().all():
                            print(f"Invalid month format in {csv_file}. Skipping this file.")
                            continue
                        
                        # Add state and term info to the dataframe
                        df['state'] = state_code
                        df['term'] = term_name
                        
                        # Append to our list
                        all_data.append(df[['month', 'state', 'term', 'value']])
                    
                    elif len(df.columns) == 1:
                        print(f"No data found in {csv_file} (empty .csv)")

                    else:
                        print(f"Unexpected format in {csv_file}: {df.columns}")
                except Exception as e:
                    print(f"Error processing {csv_file}: {e}")
            else:
                print(f"Could not extract state code from {csv_file}")
        print(f"Finished processing {len(csv_files)} CSV files in {term_path}\n")

# Combine all data into one dataframe
if all_data:
    combined_df = pd.concat(all_data, ignore_index=True)
    
    # Pivot the dataframe to get the desired structure
    # Each row is a month-state combination, columns are terms
    pivoted_df = combined_df.pivot_table(
        index=['month', 'state'], 
        columns='term', 
        values='value', 
        aggfunc='first'
    ).reset_index()
    
    # Sort by state and month
    pivoted_df = pivoted_df.sort_values(by=['state', 'month']).reset_index(drop=True)

    # Display the result
    display(pivoted_df.head())

else:
    print("No data found!")

Processing 51 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/criminal justice...
Finished processing 51 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/criminal justice

Processing 35 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/guns...
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/gns_CT.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_AR.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_DE.csv (empty .csv)
Invalid month format in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_IA.csv. Skipping this file.
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_IN.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_KS.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_KY.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_LA.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_MA.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_MN.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_MO.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_NC.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_ND.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_NH.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_NJ.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_NM.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/guns_NV.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/gus_AZ.csv (empty .csv)
Invalid month format in ../google_trends_data/issue_guns_and_criminal_justice/guns/gus_ID.csv. Skipping this file.
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/gus_MT.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/gus_NE.csv (empty .csv)
No data found in ../google_trends_data/issue_guns_and_criminal_justice/guns/gus_OH.csv (empty .csv)
Finished processing 35 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/guns

Processing 6 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/violence schools gun...
Finished processing 6 CSV files in ../google_trends_data/issue_guns_and_criminal_justice/violence schools gun

Processing 51 CSV files in ../google_trends_data/issue_healthcare/health...
Finished processing 51 CSV files in ../google_trends_data/issue_healthcare/health

Processing 51 CSV files in ../google_trends_data/issue_healthcare/healthcare...
Finished processing 51 CSV files in ../google_trends_data/issue_healthcare/healthcare

Processing 51 CSV files in ../google_trends_data/issue_housing/rent...
Finished processing 51 CSV files in ../google_trends_data/issue_housing/rent

term,month,state,criminal justice,guns,health,healthcare,rent,violence schools gun
0,2015-01,AK,53,94,71,40,62,NaN
1,2015-02,AK,0,84,77,50,62,NaN
2,2015-03,AK,55,95,75,47,66,NaN
3,2015-04,AK,0,77,76,40,66,NaN
4,2015-05,AK,0,76,59,33,66,NaN

Note that we have several empty `.csv`s for the `guns` term. Therefore, it is not worth keeping the term, it should be dropped. We also don't have enough values for `violence schools gun` in order to construct the feature.

In [38]:
pivoted_df.head()

term,month,state,criminal justice,guns,health,healthcare,rent,violence schools gun
0,2015-01,AK,53,94,71,40,62,NaN
1,2015-02,AK,0,84,77,50,62,NaN
2,2015-03,AK,55,95,75,47,66,NaN
3,2015-04,AK,0,77,76,40,66,NaN
4,2015-05,AK,0,76,59,33,66,NaN

After manually checking some of the results from the data frame, everything seems to make sense and to match with the source Google Trends files.

# 2. Dropping columns with too many null values

In [40]:
# Drop the columns with too many NaN valuews
pivoted_df = pivoted_df.drop(columns = ['guns', 'violence schools gun'])

In [41]:
# First, check the null values per state and term
print("Null values per state and term:")
for state in pivoted_df['state'].unique():
    # Print only if there are null values
    if pivoted_df[pivoted_df['state'] == state].isnull().sum().sum() > 0:
        print(f"State: {state}")
        print(pivoted_df[pivoted_df['state'] == state].isnull().sum())
        print("\n")

Null values per state and term:

In [42]:
pivoted_df.head()

term    month state criminal justice health healthcare rent
0     2015-01    AK               53     71         40   62
1     2015-02    AK                0     77         50   62
2     2015-03    AK               55     75         47   66
3     2015-04    AK                0     76         40   66
4     2015-05    AK                0     59         33   66

In [44]:
# Convert all of the term columns to numeric - is everything numeric?
for col in pivoted_df.columns[2:]:
    pivoted_df[col] = pd.to_numeric(pivoted_df[col])

pivoted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6375 entries, 0 to 6374
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   month             6375 non-null   object
 1   state             6375 non-null   object
 2   criminal justice  6375 non-null   int64
 3   health            6375 non-null   int64
 4   healthcare        6375 non-null   int64
 5   rent              6375 non-null   int64
dtypes: int64(4), object(2)
memory usage: 299.0+ KB

# 3. Exporting to .csv

In [46]:
pivoted_df.to_csv('../clean_data/features/google_trends/google_trends_per_state_month.csv', index=False)